.meus-filmes{
    margin-top: 24px ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.meus-filmes h1{
    margin-bottom: 14px;
}
.meus-filmes span{
    font-size: 18px;
}

.meus-filmes ul{
    width: 720px;
}

.meus-filmes ul li{
    list-style:nome;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

}
.meus-filmes div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.meus-filmes div a {
    text-decoration: none;
    color: blue;
    margin-right: 14px ;
}